* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

header { /*Since there is only one header in the HTML file, I removed the class name "header" to just be a header tag*/
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

header h1 {
    display: inline-block;
    font-size: 48px;
}

header h1 span {
    color: #d9dcd6;
}

header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

#hero {     /*Changed .hero to #hero since this is a span tag so I felt that a id selector would be more fitting*/
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

.float {                /*combined float-right & float-left to one class for less clutter*/
    float: left;
    margin-right: 25px;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

.benefit-details {    /*Each of the topics in benefits had the exact same code, with different class names so I combined them to one for effeciency*/
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-details h3 {   /*Same as previous comment, since each topic had its own class, they all their own h3 code which cluttering the CSS file*/
    margin-bottom: 10px;
    text-align: center;
}

.benefit-details img {  /*Same as both previous comments, combined multiple classes to one as well as combining the img tags in each*/
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.articles { 
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.articles img {
    max-height: 200px;
}

.articles h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

footer { /*Same as header, there is only one footer tag in HTML so I changed the previous class name to be just a footer tag*/
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

footer h2 {
    font-size: 20px;
}
